body {
	font-family: 'Poppins', sans-serif;
}

/*font-family: 'Playfair Display', serif;*/

.header-item img {
	fill: #2e3357;
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.header-item {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.col-small {
	width: calc(100% / 10 * 4 / 2);
}

.col-big {
	width: calc(100% / 10 * 6 / 2);
}

.header-row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.header {
	padding: 10px 0px;
}

.main {
	background: url("../img/main-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 30px;
	padding-bottom: 212px;
}

.main-logo {
	margin-left: -40px;
}

.main-row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 32px;
}

.main-row__col {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu a {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
	padding: 3px 20px;
	display: flex;
	justify-content: center;
}

.menu {
	display: flex;
	align-items: center;
	max-width: 400px;
	width: 100%;
	justify-content: space-between;
}

.menu a:hover {
	text-decoration: none;
}

.menu-btn {
	border: 1px solid #2e3357;
	border-radius: 30px;
}

.menu-icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 110px;
	width: 100%;
}

.menu-icons img {
	width: 20px;
	height: 20px;
}

.author {
	font-size: 12px;
	line-height: 1.6;
	color: #443344;
}

.main-column__title {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	color: #2e3357;
	margin-bottom: 20px;
	max-width: 530px;
	width: 100%;
}

.main-column li {
	list-style-type: none;
	position: relative;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	font-family: 'Playfair Display', serif;
	color: #943893;
}

.main-column li:before {
	background: url("../img/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 16px;
	height: 25px;
	position: absolute;
	content: "";
	left: -22px;
	top: 0px;
}

.main-column ul {
	padding-left: 25px;
	margin-bottom: 22px;
}

.main-btn {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	background: linear-gradient(180deg, #d37cc1 0%, #ba7cce 100%);
	border-radius: 10px;
	padding: 14px 40px;
	height: 60px;
	max-width: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.main-btn:hover {
	color: #ffffff;
	text-decoration: none;
}

.reviews {
	max-width: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.reviews-desc {
	margin-top: 4px;
}

.reviews-desc {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.reviews-desc img {
	margin-left: 8px;
}

.stars img {
	margin-right: 4px;
}

.stars img:last-child {
	margin-right: 0px;
}

.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #2e3357;
}

.first-section {
	padding-top: 20px;
	background-image: url("../img/first-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 100px;
}

.title {
	padding-bottom: 38px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 77px;
	position: relative;
}

.title::after {
	position: absolute;
	content: "";
	bottom: -1px;
	left: calc(50% - 40px);
	height: 1px;
	background-color: #2e3357;
	width: 80px;
}

.first-section__text p {
	margin-bottom: 36px;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
}

.first-section__text h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	color: #2e3357;
	margin-bottom: 20px;
	font-family: 'Playfair Display', serif;
}

.first-section__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	color: #2e3357;
	margin-bottom: 20px;
	font-family: 'Playfair Display', serif;
}

.first-section__row {
	background-image: url("../img/row-bg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 98px 94px 160px;
	margin-top: 30px;
	text-align: center;
}

.first-section__text {
	padding-top: 30px;
}

.first-section__row-title {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;
	margin-top: 18px;
}

.first-section__row-author {
	font-size: 18px;
	line-height: 1.6;
	color: rgba(255, 255, 255, 0.6);
}

.review-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 48px;
	max-width: 716px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
}

.review-item__top {
	margin-bottom: 34px;
}

.video-block__item {
	position: relative;
}

.play {
	position: absolute;
	content: "";
	left: calc(50% - 35px);
	top: calc(50% - 35px);
	width: 70px;
	height: 70px;
}

.video-block {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 110px;
}

.video-block__item img {
	box-shadow: 0px 20px 30px rgba(194, 124, 201, 0.2);
	border-radius: 20px;
}

.review {
	padding-bottom: 50px;
}

.reasons {
	background-image: url("../img/reasons.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 104px;
	padding-bottom: 120px;
}

.reasons h2 {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	text-align: center;
	color: #2e3357;
	margin-bottom: 30px;
}

h2 {
	font-family: 'Playfair Display', serif;
}

.reasons .col-lg-4 {
	margin-bottom: 60px;
}

.reasons-block {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: flex-start;
}

.reasons-block img {
	margin-bottom: 18px;
}

.reasons-block__title {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #443344;
}

.reasons-block__text {
	font-size: 14px;
	line-height: 1.6;
	color: #595958;
}

.reasons .main-btn {
	margin-left: auto;
	margin-right: auto;
}

.tips-item__title {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	color: #943893;
	margin-bottom: 30px;
	font-family: 'Playfair Display', serif;
}

.tips .main-btn {
	margin-bottom: 95px;
	margin-left: 18px;
}

.tips {
	padding-top: 101px;
}

.tips-item__img-1 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tips-item__img-2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.tips-item li {
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
}

.tips-item ul {
	padding-left: 18px;
}

.order h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
	color: #2e3357;
	margin-bottom: 56px;
}

.order {
	padding-bottom: 122px;
	background-image: url("../img/splashes-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.order-img img {
	border-radius: 10px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.order-img {
	width: 100%;
	height: 442px;
	border-radius: 20px;
	border: 10px solid #ebebeb;
	margin-bottom: 10px;
	z-index: 1;
}

.order-row {
	display: flex;
	justify-content: flex-start;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #fff;
	background-image: linear-gradient(180deg, #d37cc1 0%, #ba7cce 100%);
}

.order-row__first img {
	border-radius: 4px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.order-row__first {
	border: 5px solid #fff;
	box-shadow: 0px 20px 30px rgba(194, 124, 201, 0.2);
	border-radius: 4px;
	width: 100px;
	height: 100px;
	margin-right: 22px;
}

.order-img__wrapper {
	border: 5px solid #c4c4c4;
	border-radius: 4px;
	width: 100px;
	height: 100px;
	position: relative;
}

.order-img__main {
	position: absolute;
	top: 14px;
	left: 25px;
	width: 41px;
	height: 60px;
	z-index: 1;
}

.frame {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.frame img {
	width: 100%;
	height: 100%;
}

.order-img__main img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.order-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.order-info__title {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	color: #943893;
	font-family: 'Playfair Display', serif;
	margin-bottom: 12px;
}

.price-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: 1px solid #d9d9d9;
}

.price-row__block {
	display: flex;
	align-items: center;
}

.price-row__last {
	margin-right: 26px;
	font-size: 26px;
	line-height: 1.6;
	text-decoration-line: line-through;
	color: #595958;
}

.price-row__current {
	font-weight: bold;
	font-size: 26px;
	line-height: 1.6;
	color: #f77952;
}

.price-row__save {
	font-weight: 300;
	font-size: 24px;
	line-height: 1.6;
	text-transform: uppercase;
	color: #943893;
}

.delivery-list li {
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.6;
	color: #000000;
	position: relative;
}

.delivery-list {
	margin-bottom: 3px;
	padding-left: 32px;
}

.delivery-list li::before {
	position: absolute;
	content: "";
	width: 18px;
	height: 22px;
	left: -32px;
	top: 0px;
	background-image: url("../img/delivery-1.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.delivery-list li:nth-child(2)::before {
	background-image: url("../img/delivery-2.svg");
	width: 19px;
}

.delivery-list li:nth-child(3)::before {
	background-image: url("../img/delivery-3.svg");
	width: 20px;
}

.order .reviews {
	flex-direction: row;
	max-width: 100%;
	justify-content: flex-start;
}

.order .stars img {
	margin-right: 6px;
}

.order .stars {
	margin-right: 16px;
}

.order .main-btn {
	font-size: 16px;
	line-height: 1.6;
	max-width: 200px;
	margin-top: 20px;
	text-transform: none;
	padding: 12px 28px;
	margin-bottom: 40px;
}

.order .main-btn img {
	margin-left: 20px;
}

.guaranted {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.guaranted-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	color: #2e3357;
	font-family: 'Playfair Display', serif;
}

.guaranted-block {
	padding-top: 18px;
	padding-bottom: 30px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.guaranty {
	background-image: url("../img/guaranty-bg.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 144px 0px;
}

.guaranty-block {
	padding: 80px 96px 72px;
	background: #ffffff;
	box-shadow: 0px 20px 30px rgba(194, 124, 201, 0.2);
	border-radius: 16px;
	text-align: center;
}

.guaranty h2 {
	margin-bottom: 30px;
}

.guaranty-block h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	color: #2e3357;
	margin-bottom: 78px;
}

.guaranty-describe__text {
	font-size: 14px;
	line-height: 1.6;
	color: #2e3357;
	max-width: 530px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.guaranty-describe__text p {
	margin-bottom: 28px;
}

.guaranty-describe__text span {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.6;
	color: #bdbdbd;
}

.primary {
	padding-top: 110px;
}

.primary .order-info__title {
	text-align: center;
	margin-bottom: 30px;
}

.primary .col-lg-4 {
	margin-bottom: 30px;
}

.primary-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.primary-col__img {
	position: relative;
	height: 331px;
	margin-bottom: 12px;
}

.primary-col__img img {
	height: auto;
}

.primary-col__img-item {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.primary-col__img-item img {
	height: auto;
}

.primary-col__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 20px;
	color: #443344;
}

.primary-col__desc {
	max-width: 260px;
	width: 100%;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #2e3357;
}

.gallery {
	background-image: url("../img/gallery-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 110px;
	padding-bottom: 80px;
	z-index: 2;
	position: relative;
}

.gallery h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
	color: #2e3357;
	margin-bottom: 50px;
}

.gallery-block__img {
	border: 10px solid #ffffff;
	box-shadow: 0px 20px 30px rgba(194, 124, 201, 0.2);
	border-radius: 24px;
	height: 300px;
	z-index: 1;
}

.gallery-block__img img {
	border-radius: 16px;
	width: 100%;
	height: 100%;
}

.gallery .col-lg-3 {
	margin-bottom: 70px;
}

.gallery .main-btn {
	margin-left: auto;
	margin-right: auto;
}

.compare {
	background-image: url("../img/comparison-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 114px;
	padding-top: 126px;
	margin-top: -80px;
	z-index: 1;
}

.compare h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
	color: #ffffff;
	margin-bottom: 50px;
}

.compare-block {
	background: #ffffff;
	box-shadow: 0px 20px 30px rgba(194, 124, 201, 0.2);
	border-radius: 16px;
	padding: 20px 42px 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.compare-block img {
	width: 170px;
	height: 170px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
}

.compare-block__title {
	position: relative;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #2e3357;
	z-index: 2;
	margin-bottom: 15px;
}

.compare-block__title::before {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0px;
	background: #83b5e6;
	border-radius: 3px;
	width: 100%;
	height: 5px;
	z-index: 1;
}

.compare .col-lg-4:nth-child(2) .compare-block__title::before {
	background: rgba(24, 152, 37, 0.4);
}

.compare .col-lg-4:nth-child(3) .compare-block__title::before {
	background: #f3d588;
}

.compare-note {
	font-size: 14px;
	line-height: 1.6;
	color: #2e3357;
}

.delivery-price {
	margin-top: 5px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #000000;
	margin-bottom: 13px;
}

.order-btn {
	background: #ffffff;
	border: 1px solid #734fdf;
	box-sizing: border-box;
	border-radius: 10px;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
	max-width: 198px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feedback .order-info__title {
	margin-bottom: 52px;
	text-align: center;
}

.feedback-item {
	background: #ffffff;
	border-radius: 16px;
	background-image: url("../img/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 30px 25px;
	box-shadow: 0px 20px 17px rgba(194, 124, 201, 0.2);
	display: flex;
	flex-direction: column;
	min-height: 388px;
}

:focus {
	outline: none !important;
}

.feedback-carousel .col-lg-4:nth-child(1n) .feedback-item {
	background-image: url("../img/bg-1.jpg");
}

.feedback-carousel .col-lg-4:nth-child(2n) .feedback-item {
	background-image: url("../img/bg-2.jpg");
}

.feedback-carousel .col-lg-4:nth-child(3n) .feedback-item {
	background-image: url("../img/bg-3.jpg");
}

.feedback-carousel .slick-track {
	padding-bottom: 50px;
}

.author-row img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 30px;
}

.author-row {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.author-column__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #734fdf;
	margin-bottom: 4px;
}

.date {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.6;
	color: #595958;
}

.feedback-item__text {
	padding-top: 30px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #595958;
	border-top: 1px solid #e0e0e0;
}

.feedback-carousel .slick-dots li.slick-active button:before {
	display: none;
}

.feedback-carousel .slick-dots li button:before {
	display: none;
}

.feedback-carousel .slick-dots li button {
	width: 40px;
	height: 4px;
	background: rgba(148, 56, 147, 0.12);
	padding: 0px;
}

.feedback-carousel .slick-dots li.slick-active button {
	background: rgba(148, 56, 147, 1);
}

.feedback-carousel .slick-dots li {
	margin-right: 20px;
	width: 40px;
	height: 4px;
}

.slick-next:before,
.slick-prev:before {
	width: 32px;
	height: 32px;
	color: rgba(148, 56, 147, 0.12);
	font-size: 32px;
}

.slick-next:hover:before,
.slick-prev:hover:before {
	color: rgba(148, 56, 147, 1);
}

.feedback {
	padding-bottom: 28px;
}

.more {
	padding-top: 30px;
	background-image: url("../img/review-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	position: relative;
	z-index: 3;
}

.more h2 {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	text-align: center;
	color: #2e3357;
	margin-bottom: 50px;
}

.color-circle {
	border: 1px solid #943893;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	width: 20px;
	height: 20px;
}

.color-circle span {
	width: 14px;
	height: 14px;
	background: #943893;
	border-radius: 50%;
	position: absolute;
	content: "";
	top: 2px;
	left: 2px;
}

.more-stars__row {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	width: 100%;
	justify-content: flex-end;
}

.more-stars {
	max-width: 374px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.stars-diagramma {
	position: relative;
	background: #ffffff;
	border: 1px solid #943893;
	box-sizing: border-box;
	border-radius: 20px;
	width: 140px;
	height: 10px;
	margin-right: 15px;
}

.stars-diagramma span {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	height: 100%;
	width: calc(100% / 5 * 4);
	background: #943893;
	border-radius: 20px;
}

.more-stars__row-amount {
	font-size: 12px;
	line-height: 18px;
	margin-right: 15px;
	text-transform: uppercase;
	color: #000000;
}

.stars-row img {
	width: 18px;
	height: 18px;
}

.stars-row {
	margin-right: 27px;
	line-height: 18px;
}

.more-stars .more-stars__row:nth-child(2) .stars-diagramma span {
	width: calc(100% / 5 * 3);
}

.more-stars .more-stars__row:nth-child(3) .stars-diagramma span {
	width: calc(100% / 5 * 2);
}
.more-stars .more-stars__row:nth-child(4) .stars-diagramma span {
	width: calc(100% / 5 * 1);
}

.more-stars .more-stars__row:nth-child(5) .stars-diagramma span {
	width: calc(100% / 5 * 0);
}

.sorting-block__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 24px;
	border-bottom: 1px solid #d9d9d9;
	position: relative;
}

.sorting-block {
	margin-top: 34px;
}

.sorting-block__top-title {
	font-size: 18px;
	line-height: 1.4;
	color: #2e3357;
	font-family: 'Playfair Display', serif;
}

.sorting-block__top:before {
	position: absolute;
	content: "";
	left: calc(50% - 40px);
	bottom: -1px;
	background: #2e3357;
	width: 80px;
	height: 1px;
}

.sorting-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #f9f4f8 0%, #f9f4f8 100%);
	border-radius: 5px;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
	max-width: 89px;
	width: 100%;
	height: 30px;
}

.sorting-btn img {
	margin-left: 22px;
}

.comment-item {
	padding-bottom: 24px;
	padding-top: 20px;
	border-bottom: 1px solid #d9d9d9;
	width: 100%;
	display: flex;
}

.comment-item__first {
	margin-right: 30px;
	width: 10%;
}

.comment-item__second {
	width: 90%;
}

.comment-item__first img {
	width: 62px;
	height: 58px;
}

.comment-item__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment-item__row .name {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	color: #2e3357;
	font-family: 'Playfair Display', serif;
}

.comment-date {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.6;
	color: #595958;
}

.info-buyer {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.6;
	color: #595958;
	margin-bottom: 3px;
}

.comment-item__stars {
	margin-bottom: 22px;
}

.comment-item__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
	margin-bottom: 4px;
}

.comment-item__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
	margin-bottom: 10px;
}

.comment-item__img img {
	margin-right: 20px;
	width: 100px;
	height: 100px;
}

.comment-item__img {
	margin-bottom: 22px;
}

.share-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.share-block__col {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.share-block__item {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
	display: flex;
	align-items: center;
}

.share-block__col-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #000000;
	display: flex;
	align-items: center;
}

.share-block__col-text img {
	margin-right: 10px;
}

.share-block__item img {
	margin-right: 10px;
}

.comment-item__first-img {
	position: relative;
	background: #2e3357;
	width: 58px;
	height: 58px;
	border-radius: 50%;
}

.comment-item__first-img span {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	font-family: 'Playfair Display', serif;
	height: 100%;
}

.check {
	position: absolute;
	content: "";
	right: -4px;
	bottom: 0px;
}

.check img {
	width: 22px;
	height: 22px;
}

.show-btn {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: #943893;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 110px;
	height: 30px;
	width: 100%;
	background: linear-gradient(180deg, #f9f4f8 0%, #f9f4f8 100%);
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.show-btn:hover {
	text-decoration: none;
	color: #fff;
	background: #943893;
}

.video-item {
	position: relative;
	border: 10px solid #ebebeb;
	border-radius: 16px;
	width: 100%;
	height: 343px;
	z-index: 1;
}

.video-item img {
	object-fit: cover;
}

.preview-video {
	border-radius: 16px;
	width: 100%;
	height: 100%;
}

.preview-video img {
	width: 100%;
	height: 100%;
}

.more .col-lg-4 {
	margin-bottom: 48px;
}

.video-play img {
	width: 40px;
	height: 40px;
}

.video-play {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	content: "";
	top: 0px;
    left: 0px;
}

.frequently {
	background-image: url("../img/back-rosy.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 226px;
	margin-top: -130px;
	position: relative;
	z-index: 2;
	padding-bottom: 280px;
}

.video-item__text {
	text-align: center;
	max-width: 716px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.video-item__stars {
	margin-bottom: 10px;
}

.video-item__stars img {
	width: 23px;
	height: 30px;
}

.video-item__text p {
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
	margin-bottom: 11px;
}

.video-comment__name {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
	color: #2e3357;
	font-family: 'Playfair Display', serif;
	margin-bottom: 22px;
}

.verified {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	line-height: 1.6;
	color: #595958;
}

.frequently h2 {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	color: #2e3357;
	margin-bottom: 48px;
	font-family: 'Playfair Display', serif;
}

.frequently-accordion {
	background: #ffffff;
	box-shadow: 0px 15px 25px rgba(194, 124, 201, 0.07);
	border-radius: 10px;
	max-width: 820px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 52px 40px;
}

.frequently-accordion .card-header {
	background: linear-gradient(180deg, #f9f4f8 0%, #f9f4f8 100%);
	border-radius: 5px;
	border: none;
	padding: 0px;
}

.frequently-accordion .card-header .btn {
	padding: 16px 22px 16px 68px;
	width: 100%;
	height: 100%;
	text-align: left;
	position: relative;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
	text-decoration: none !important;
	border-radius: 5px;
}

.frequently-accordion .card-header .btn:hover {
	text-decoration: none;
}

.frequently-accordion .card-header .btn::before {
	position: absolute;
	content: "";
	background-image: url("../img/plus.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	left: 28px;
	top: calc(50% - 8px);
}

.frequently-accordion .card-header .btn[aria-expanded="true"]::before {
	background-image: url("../img/minus.svg");
}
.frequently-accordion .card-header .btn[aria-expanded="true"] {
	background: #ffffff;
	border-top: 1px solid #f0e6ee;
	border-left: 1px solid #f0e6ee;
	border-right: 1px solid #f0e6ee;
	border-radius: 5px 5px 0px 0px;
}

.frequently-accordion .card .collapse {
	border-left: 1px solid #f0e6ee;
	border-right: 1px solid #f0e6ee;
	border-bottom: 1px solid #f0e6ee;
	border-radius: 0px 0px 5px 5px;
}

.frequently-accordion .card {
	border: none;
	margin-bottom: 10px;
}

.frequently-accordion .card-body {
	padding: 0px;
	padding-left: 28px;
	padding-bottom: 30px;
	padding-left: 68px;
}

.order-now {
	margin-top: -230px;
	padding-top: 80px;
	background-image: url("../img/splashes-bg-1.png");
	padding-bottom: 16px;
}

.order-now .order-img__main {
	left: 5px;
	top: 24px;
	width: 56px;
	height: 53px;
}

.order-now .first-section__row {
	background-image: url(../img/row-bg-1.png);
	background-size: contain;
	margin-top: 100px;
	padding-top: 156px;
	padding-bottom: 110px;
	width: 110%;
	margin-left: -5%;
}

.order-now .first-section__row-title {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	color: #2e3357;
	max-width: 904px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.order-now .first-section__row-author {
	color: #2e3357;
}

.story {
	background-image: url("../img/deepLilac.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 300px;
	padding-top: 230px;
	position: relative;
	z-index: 4;
}

.story .container {
	position: relative;
}

.story-img {
	width: 729px;
	height: 712px;
	position: absolute;
	content: "";
	top: -180px;
	left: -100px;
}

.story-title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	color: #ffffff;
	font-family: 'Playfair Display', serif;
}

.story-desc {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	font-family: 'Playfair Display', serif;
	color: #ffffff;
	margin-bottom: 36px;
}

.story-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #ffffff;
}

.create {
	background-image: url("../img/create-bg.png");
	background-size: 70% 128%;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 122px;
	margin-top: -122px;
	padding-bottom: 116px;
}

.create-block {
	background: #ffffff;
	box-shadow: 0px 15px 25px rgba(194, 124, 201, 0.07);
	border-radius: 10px;
	padding: 52px 30px 0px 30px;
	margin-top: -90px;
}

.create-block h2 {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	text-align: center;
	color: #2e3357;
	font-family: 'Playfair Display', serif;
	margin-bottom: 52px;
}

.avatar img {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	margin-top: 32px;
	margin-bottom: 10px;
}

.create-block .video-item__stars img {
	width: 17px;
	height: 17px;
}

.create-block .video-item__stars {
	margin-bottom: 2px;
}

.create-block p {
	font-size: 16px;
	line-height: 1.6;
	color: #2e3357;
	max-width: 590px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.create-block .video-item__text {
	padding-bottom: 35px;
}

.create-block .video-item__text {
	position: relative;
}

.create-block .video-item__text:after {
	width: calc(100% + 60px);
	background-color: #f1e5ee;
	height: 1px;
	position: absolute;
	content: "";
	left: -30px;
	bottom: 0px;
}

.create-block .video-item__text:last-child:after {
	display: none;
}

.passage h2 {
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
	color: #2e3357;
	margin-bottom: 52px;
	font-weight: bold;
}

.passage {
	margin-top: -26px;
}

.passage-small.left img {
	border-radius: 30px 0px 0px 0px;
}

.passage-small img,
.passage-big img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.passage-big.right img {
	border-radius: 0px 30px 0px 0px;
}

.passage .col-lg-5,
.passage .col-lg-7 {
	margin-bottom: 26px;
}

.passage-big.left img {
	border-radius: 0px 0px 0px 30px;
}

.passage-small.right img {
	border-radius: 0px 0px 30px 0px;
}

.passage .main-btn {
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.forget {
	background-image: url("../img/forget.jpg");
	background-position: center;
	background-size: 100% 113%;
	background-repeat: no-repeat;
	padding-top: 196px;
	padding-bottom: 154px;
}

.forget .container {
	position: relative;
}

.forget .story-img {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}

.forget .story-img img {
	width: 746px;
	height: 740px;
	position: absolute;
	content: "";
	right: -240px;
	z-index: 2;
	top: -26px;
}

.benefits {
	background-image: url("../img/support-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 58px;
}

.benefits .col-lg-3 {
	margin-bottom: 30px;
}

.benefits-block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	flex-direction: column;
	height: 100%;
}

.benefits-block img {
	margin-bottom: 16px;
}

.benefits-block__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #443344;
}

.benefits-block__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
}

.footer {
	background-image: url("../img/footer-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding-top: 30px;
	padding-bottom: 50px;
}

.footer-logo {
	text-align: center;
	padding-bottom: 34px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: relative;
}

.footer-logo:after {
	height: 1px;
	width: 80px;
	background: #2e3357;
	position: absolute;
	content: "";
	bottom: -1px;
	left: calc(50% - 40px);
}

.footer-menu {
	padding-top: 58px;
}

.footer-menu__list {
	margin-bottom: 20px;
	padding-left: 0px;
}

.footer-menu__title {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4;
	color: #2e3357;
	margin-bottom: 18px;
	font-family: 'Playfair Display', serif;
}

.footer-menu__list li {
	list-style-type: none;
	margin-bottom: 30px;
}

.footer-menu__list li,
.footer-menu__list a {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #ffffff;
	display: flex;
	align-items: flex-start;
}

.footer-menu__list a:hover {
	color: #2e3357;
	text-decoration: none;
}

.footer-menu__text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #ffffff;
	margin-bottom: 18px;
}

.empty-btn {
	max-width: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	height: 60px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: #ffffff;
}

.empty-btn:hover {
	background-color: #ffffff;
	color: #d05fc8;
	text-decoration: none;
}

.footer-menu__list li span {
	margin-right: 13px;
	width: 23px;
	display: flex;
	align-items: center;
}

@media (max-width: 1440px) {
	.forget {
		overflow: hidden;
	}
	.order-now .first-section__row {
		width: 100%;
		margin-left: 0px;
	}
}

@media (max-width: 1200px) {
	.col-small {
		width: 50%;
		margin-bottom: 4px;
	}
	.col-big {
		width: 50%;
		margin-bottom: 4px;
	}

	.main-row .main-row__col:first-child {
		width: 28%;
	}
	.main-row .main-row__col:nth-child(2) {
		display: none;
	}
	.menu a {
		padding-left: 12px;
		padding-right: 12px;
	}
	.menu-icons {
		max-width: 88px;
	}
	.main-column__pict {
		text-align: center;
	}
	.main {
		background-size: cover;
	}
	.first-section__img {
		text-align: center;
	}
	.first-section__row {
		background-size: 100% 100%;
		padding: 98px 54px 128px;
	}
	.first-section .col-lg-7 {
		order: 2;
	}
	.main-row {
		position: relative;
	}
	.main-row:after {
		position: absolute;
		content: "";
		background-image: url("../img/menu.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		right: 0px;
		top: 28px;
		width: 32px;
		height: 32px;
	}
	.tips .col-lg-6:nth-child(3) {
		order: 2;
	}
	.tips .col-lg-6:nth-child(4) {
		order: 1;
	}
	.tips-item__img-2 {
		justify-content: flex-end;
		margin-bottom: 36px;
	}
	.tips .main-btn {
		margin-bottom: 20px;
	}
	.tips-item__img-1 {
		margin-bottom: 36px;
	}
	.gallery-block__img img {
		object-fit: cover;
	}
	.compare {
		margin-top: -110px;
	}
	.compare .col-lg-4 {
		margin-bottom: 20px;
	}
	.order-now .first-section__row {
		padding-top: 48px;
		padding-bottom: 40px;
		background-size: 100% 100%;
	}
	.story-img {
		position: static;
	}
	.story {
		padding-top: 130px;
	}
	.forget .story-img img {
		position: static;
	}
	.forget .story-img {
		position: static;
	}
	.forget {
		background-size: cover;
		padding-top: 122px;
	}
	.footer {
		background-size: cover;
	}
	.footer-menu__list li {
		margin-bottom: 20px;
	}
	.footer-menu {
		padding-top: 32px;
	}
	.benefits {
		background-size: cover;
	}
}

@media (max-width: 768px) {
	.header-item {
		font-size: 10px;
		line-height: 1.2;
		display: flex;
		align-items: center;
	}
	.header-item img {
		width: 12px;
		height: 12px;
	}
	.video-block__item img {
		width: 100%;
	}
	.reasons {
		background-size: cover;
	}
	.tips-item__img-2,
	.tips-item__img-1 {
		justify-content: center;
	}
	.order {
		padding-bottom: 28px;
	}
	.guaranty-block {
		padding: 40px 48px 36px;
	}
	.gallery .col-lg-3 {
		margin-bottom: 30px;
	}
	.feedback-carousel .slick-dots {
		width: 310px;
		left: calc(50% - 155px);
	}
	.share-block__col-text img {
		margin-right: 4px;
	}
	.share-block .share-block__col:nth-child(1) {
		width: 26%;
	}
	.share-block .share-block__col:nth-child(2) {
		width: 74%;
	}
	.frequently-accordion .card-body {
		padding-right: 12px;
	}
	.story-img img {
		width: 100%;
	}
	.story-img {
		width: auto;
		height: auto;
	}
	.forget .story-img img {
		width: 500px;
		height: auto;
	}
	.story {
		background-size: cover;
		padding-bottom: 222px;
	}
	.order-now .first-section__row {
		margin-top: 40px;
	}
}

@media (max-width: 576px) {
	.col-small {
		width: 100%;
	}
	.col-big {
		width: 100%;
	}
	.main-column__pict img {
		width: 100%;
	}
	.first-section__img img {
		width: 100%;
	}
	.title,
	.order h2,
	.guaranty-block h2,
	.gallery h2,
	.compare h2,
	.passage h2 {
		font-size: 36px;
	}
	.guaranted img {
		width: 100%;
	}
	.guaranted {
		flex-wrap: wrap;
	}
	.forget .story-img img {
		width: 326px;
	}
	.footer-logo img {
		width: 100%;
	}
	.price-row {
		flex-wrap: wrap;
	}
	.frequently-accordion {
		padding: 6px;
		padding-bottom: 1px;
	}
	.order-now .first-section__row {
		padding-left: 8px;
		padding-right: 8px;
	}
	.order-now .first-section__row-title {
		font-size: 28px;
		line-height: 1.2;
	}
	.order-img {
		height: 340px;
	}
	.share-block {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.share-block .share-block__col:nth-child(1) {
		width: 100%;
	}
	.share-block .share-block__col:nth-child(2) {
		width: 100%;
		flex-wrap: wrap;
	}
	.share-block .share-block__col:nth-child(2) .share-block__col-text:nth-child(1) {
		width: 100%;
	}
	.share-block .share-block__col:nth-child(2) .share-block__col-text:nth-child(2) {
		width: 30%;
	}
	.share-block .share-block__col:nth-child(2) .share-block__col-text:nth-child(3) {
		width: 30%;
	}
	.more-stars__row {
		flex-wrap: wrap;
	}
	.comment-item__first {
		margin-right: 10px;
		width: 20%;
	}
	.comment-item__second {
		width: 80%;
	}
	.stars-row {
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.more-stars__row-amount {
		min-width: 36px;
		margin-bottom: 10px;
		text-align: right;
	}
	.gallery-block__img {
		height: 200px;
	}
	.guaranty-block {
		padding: 16px;
	}
	.guaranty-block h2 {
		margin-bottom: 38px;
	}
	.tips-item__img-2 img,
	.tips-item__img-1 img {
		width: 100%;
	}
	.first-section__row {
		padding-left: 8px;
		padding-right: 8px;
	}
	.first-section__row-title {
		font-size: 28px;
	}
	.video-block {
		margin-top: 50px;
	}
	.review {
		padding-bottom: 0px;
	}
	.reasons .col-lg-4 {
		margin-bottom: 30px;
	}
	.tips {
		padding-top: 0px;
	}
	.guaranty {
		background-size: cover;
	}
	.primary {
		padding-top: 50px;
	}
}
